<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.bio11.mapper.BoardMapper">

	<select id = "getList" resultType = "com.bio11.domain.BoardVO">
		select * from tbl_board where bno>0
	</select>
	
	<insert id ="insert">
		insert into tbl_board(TITLE, CONTENT, WRITER)
		 values(#{title}, #{content}, #{writer})
	</insert>
	
	<insert id ="insertSelectKey">
		<selectKey keyProperty = "bno" order = "BEFORE" resultType = "long">
			select bno_seq.nextval from dual
		</selectKey>
		insert into tbl_board(bno,title,content,writer)
		values(#{bno},#{title},#{content},#{writer})
	</insert>
	
	<select id = "read" resultType = "com.bio11.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<delete id = "delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<update id = "update">
		update tbl_board set 
		title = #{title},
		content = #{content},
		updateDate = sysdate
		where bno = #{bno}
	</update>
	
	<select id="getListWithSearch" resultType="org.conan.domain.BoardVO">
		select * from tbl_board
		where
		
	<!--  
	cri.setType("TC")

	select * from tbl_board
	where title like CONCAT('%', '명탐정', '%')
	OR content like CONCAT('%', '명탐정', '%')
	limit 0, 10
	- -
	cri.setType("TCW")
	
	select * from tbl_board
	title title like CONCAT('%', '명탐정', '%')
	OR content like CONCAT('%', '명탐정', '%')
	OR writer like CONCAT('%', '명탐정', '%')
	limit 0, 10
	
	-->
	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type=='T'.toString()">title like '%' #{keyword}||'%'</when>
					<when test="type=='C'.toString()">content like '%' #{keyword}||'%'</when>
					<when test="type=='W'.toString()">writer like '%' #{keyword}||'%'</when>
				</choose>
			</trim>
		</foreach>
	</trim>
	bno>0
	</select>
</mapper>